.container{
    flex-wrap: wrap ; 
}

div{
    height:150px;
    display: flex;
    align-items: center;
    justify-content:space-around;
    margin: 4px;
    width: 100%;
}
.item{
    background-color: orange;
}









